body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: white;
    padding: 10px;
    display: flex;
    align-items: center;
    
}

.header-container {    
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.logo {
    height: 120px;
    margin-right: 20px;
}

.sardarvallabhbhai{
    height: 120px;
    margin-left: 20px;
}

title {
    font-size: 24px;
    color: #800000;
    text-align: center;
}

nav {
    background: #004080;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 20%;
    background: #e0e0e0;
    padding: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    background: #add8e6;
    padding: 8px;
    margin: 5px 0;
    text-align: center;
    font-weight: bold;
}

main {
    width: 60%;
    text-align: center;
}

.banner img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background: #004080;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
